#--------------------------------------------------
# Repertoire : racine
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de reecriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Regles de reecriture d'URL :
#--------------------------------------------------

RewriteRule ^resultats-economiques-elevages-de-porc.html$	index.php?numpage=44&numrub=3&numcateg=5&numsscateg=1 [L]
RewriteRule ^resultats-economiques-elevages-de-porc.html$	index.php?numpage=44&numrub=3&numcateg=5 [L]
RewriteRule ^observatoire-competitivite-elevages-porcs-monde.html$	index.php?numpage=45&numrub=3&numcateg=5&numsscateg=2 [L]
RewriteRule ^ifip-institut-du-porc-missions.html$	index.php?numpage=46&numrub=2&numcateg=17 [L]
RewriteRule ^ifip-institut-du-porc-qui-sommes-nous.html$	index.php?numpage=47&numrub=2 [L]
RewriteRule ^formations-ifip-institut-du-porc.html$	index.php?numpage=49&spec=formations-ifip&numrub=4&numcateg=1 [L]
RewriteRule ^formations-ifip-institut-du-porc.html$	index.php?numpage=49&spec=formations-ifip&numrub=4 [L]
RewriteRule ^alimentation-des-truies-porcs-porcelets.html$	index.php?numpage=57&numrub=3&numcateg=10 [L]
RewriteRule ^evaluation-genetique-populations-porcines.html$	index.php?numpage=55&numrub=3&numcateg=13&numsscateg=17 [L]
RewriteRule ^conservation-races-locales-porcs.html$	index.php?numpage=58&numrub=3&numcateg=13&numsscateg=18 [L]
RewriteRule ^conduite-elevage-de-porc.html$	index.php?numpage=107&numrub=3&numcateg=11&numsscateg=13 [L]
RewriteRule ^genomique-genome-porcin.html$	index.php?numpage=60&numrub=3&numcateg=13&numsscateg=19 [L]
RewriteRule ^economie-filieres-production-porc.html$	index.php?numpage=61&numrub=3&numcateg=5&numsscateg=5 [L]
RewriteRule ^ifip-institut-du-porc-chiffres-cles.html$	index.php?numpage=62&numrub=2&numcateg=21 [L]
RewriteRule ^ifip-institut-du-porc-partenaires.html$	index.php?numpage=63&numrub=2&numcateg=22 [L]
RewriteRule ^ifip-institut-du-porc-conseil-scientifique.html$	index.php?numpage=64&numrub=2&numcateg=22&numsscateg=42 [L]
RewriteRule ^ifip-institut-du-porc-orientation.html$	index.php?numpage=65&numrub=2&numcateg=17&numsscateg=36 [L]
RewriteRule ^ifip-institut-du-porc-gis-recherche-experimentation-porcine.html$	index.php?numpage=66&numrub=2&numcateg=17&numsscateg=37 [L]
RewriteRule ^ifip-institut-du-porc-implantations.html$	index.php?numpage=67&numrub=2&numcateg=25 [L]
RewriteRule ^ifip-institut-du-porc-conseil-administration.html$	index.php?numpage=69&numrub=2&numcateg=22&numsscateg=41 [L]
RewriteRule ^publications-ifip-institut-du-porc.html$	index.php?numpage=71&spec=publications-ifip-institut-du-porc&numrub=5&numcateg=29 [L]
RewriteRule ^panier-ifip-institut-du-porc.html$	index.php?numpage=75&spec=panier-ifip-institut-du-porc&numrub=14&numcateg=52 [L]
RewriteRule ^panier-ifip-institut-du-porc.html$	index.php?numpage=75&spec=panier-ifip-institut-du-porc&numrub=7&numcateg=47 [L]
RewriteRule ^panier-ifip-institut-du-porc.html$	index.php?numpage=75&spec=panier-ifip-institut-du-porc&numrub=7 [L]
RewriteRule ^diagnostic-audit-pour-entreprises-filiere-porc.html$	index.php?numpage=76&numrub=4&numcateg=2 [L]
RewriteRule ^realisation-etudes-experimentations-productions-porcines.html$	index.php?numpage=77&numrub=4&numcateg=3 [L]
RewriteRule ^contact.html$	index.php?numpage=79&spec=contact&numrub=8 [L]
RewriteRule ^outils-aide-a-la-decision.html$	index.php?numpage=80&numrub=19&numcateg=51 [L]
RewriteRule ^equipes-ifip.html$	index.php?numpage=82&spec=equipes-ifip&numrub=2&numcateg=24 [L]
RewriteRule ^indicateurs-et-previsions-marches-porc.html$	index.php?numpage=83&numrub=1&numcateg=33 [L]
RewriteRule ^veille-economique-internationale-production-viande-porc.html$	index.php?numpage=84&spec=veille-economique-internationale-production-viande-porc&numrub=3&numcateg=5&numsscateg=6 [L]
RewriteRule ^veille-economique-internationale-production-viande-porc.html$	index.php?numpage=84&spec=veille-economique-internationale-production-viande-porc&numrub=1&numcateg=35 [L]
RewriteRule ^newsletters-ifip-institut-du-porc.html$	index.php?numpage=85&numrub=5&numcateg=31 [L]
RewriteRule ^$	index.php?numpage=86&spec=includes/home&lg=fr&numrub=16 [L]
RewriteRule ^outils-web-pour-eleveurs-techniciens-charcutiers-traiteurs.html$	index.php?numpage=87&numrub=23 [L]
RewriteRule ^formulation-alimentation-animale-porcs.html$	index.php?numpage=89&numrub=3&numcateg=10&numsscateg=8 [L]
RewriteRule ^alimentation-truies-porcelets.html$	index.php?numpage=90&numrub=3&numcateg=10&numsscateg=9 [L]
RewriteRule ^alimentation-porcs-post-sevrage-et-charcutiers.html$	index.php?numpage=91&numrub=3&numcateg=10&numsscateg=10 [L]
RewriteRule ^bien-etre-animal-en-production-porcine.html$	index.php?numpage=93&numrub=3&numcateg=12 [L]
RewriteRule ^elevages-de-porcs-et-environnement.html$	index.php?numpage=94&numrub=3&numcateg=14 [L]
RewriteRule ^viandes-de-porc-et-charcuteries.html$	index.php?numpage=95&numrub=3&numcateg=15 [L]
RewriteRule ^securite-sanitaire-viandes-charcuteries-porc.html$	index.php?numpage=96&numrub=3&numcateg=16 [L]
RewriteRule ^matieres-premieres-porc-formulation-aliment.html$	index.php?numpage=102&numrub=3&numcateg=10&numsscateg=7 [L]
RewriteRule ^marche-du-porc.html$	index.php?numpage=97&numrub=1&numcateg=39&numsscateg=43 [L]
RewriteRule ^marche-du-porc.html$	index.php?numpage=97&numrub=1&numcateg=39 [L]
RewriteRule ^cotations-prix-porc-charcutier.html$	index.php?numpage=98&numrub=1&numcateg=39&numsscateg=44 [L]
RewriteRule ^cotations-prix-porc-charcutiers-eu.html$	index.php?numpage=99&numrub=1&numcateg=39&numsscateg=45 [L]
RewriteRule ^bilanenvironnemental.html$	index.php?numpage=100&numrub=3&numcateg=14&numsscateg=25 [L]
RewriteRule ^objectifs-filiere-porcs-institut-recherche-developpement.html$	index.php?numpage=101&numrub=2&numcateg=17&numsscateg=35 [L]
RewriteRule ^le-sanitaire-en-elevages-de-porcs.html$	index.php?numpage=103&numrub=3&numcateg=11&numsscateg=11 [L]
RewriteRule ^le-sanitaire-en-elevages-de-porcs.html$	index.php?numpage=103&numrub=3&numcateg=11 [L]
RewriteRule ^la-reproduction-des-truies.html$	index.php?numpage=104&numrub=3&numcateg=11&numsscateg=12 [L]
RewriteRule ^compte-ifip.html$	index.php?numpage=105&spec=compte-ifip&numrub=14&numcateg=42 [L]
RewriteRule ^compte-ifip.html$	index.php?numpage=105&spec=compte-ifip&numrub=7&numcateg=48 [L]
RewriteRule ^compte-ifip.html$	index.php?numpage=105&spec=compte-ifip&numrub=14 [L]
RewriteRule ^home.html$	index.php?numpage=106&spec=includes/home_en&lg=en&numrub=17 [L]
RewriteRule ^batiment-energie-elevages-de-porc.html$	index.php?numpage=108&numrub=3&numcateg=11&numsscateg=14 [L]
RewriteRule ^organisation-en-france.html$	index.php?numpage=109&numrub=3&numcateg=13&numsscateg=15 [L]
RewriteRule ^organisation-en-france.html$	index.php?numpage=109&numrub=3&numcateg=13 [L]
RewriteRule ^elevages-de-selection-et-multiplication.html$	index.php?numpage=110&numrub=3&numcateg=13&numsscateg=16 [L]
RewriteRule ^bien-etre-a-l-elevage.html$	index.php?numpage=111&numrub=3&numcateg=12&numsscateg=20 [L]
RewriteRule ^bien-etre-des-porcs-au-transport.html$	index.php?numpage=112&numrub=3&numcateg=12&numsscateg=21 [L]
RewriteRule ^bien-etre-des-porcs-en-abattage.html$	index.php?numpage=113&numrub=3&numcateg=12&numsscateg=22 [L]
RewriteRule ^gestion-des-lisiers-de-porcs.html$	index.php?numpage=114&numrub=3&numcateg=14&numsscateg=23 [L]
RewriteRule ^qualite-de-l-air-gaz-et-odeurs.html$	index.php?numpage=115&numrub=3&numcateg=14&numsscateg=24 [L]
RewriteRule ^elevage-et-qualite-des-viandes.html$	index.php?numpage=116&numrub=3&numcateg=15&numsscateg=26 [L]
RewriteRule ^process-d-abattage-decoupe.html$	index.php?numpage=117&numrub=3&numcateg=15&numsscateg=27 [L]
RewriteRule ^carcasses-et-pieces.html$	index.php?numpage=118&numrub=3&numcateg=15&numsscateg=28 [L]
RewriteRule ^technologie-de-transformation.html$	index.php?numpage=119&numrub=3&numcateg=15&numsscateg=29 [L]
RewriteRule ^actualites-filiere-production-porc.html$	index.php?numpage=120&spec=actualites-filiere-production-porc&numrub=2&numcateg=44 [L]
RewriteRule ^techniporc-barometre-porc.html$	index.php?numpage=121&numrub=5&numcateg=32 [L]
RewriteRule ^valeurs-nutritionnelles-des-viandes-et-charcuteries.html$	index.php?numpage=122&numrub=3&numcateg=15&numsscateg=30 [L]
RewriteRule ^bonnes-pratiques-d-hygiene.html$	index.php?numpage=123&numrub=3&numcateg=16&numsscateg=32 [L]
RewriteRule ^tracabilite.html$	index.php?numpage=124&numrub=3&numcateg=16&numsscateg=33 [L]
RewriteRule ^normes-et-reglementation.html$	index.php?numpage=125&numrub=3&numcateg=16&numsscateg=34 [L]
RewriteRule ^l-ifip-en-video.html$	index.php?numpage=126&numrub=2&numcateg=26 [L]
RewriteRule ^cotations-des-porcelets.html$	index.php?numpage=128&numrub=1&numcateg=39&numsscateg=46 [L]
RewriteRule ^prix-des-cereales.html$	index.php?numpage=130&numrub=1&numcateg=40&numsscateg=47 [L]
RewriteRule ^prix-des-cereales.html$	index.php?numpage=130&numrub=1&numcateg=40 [L]
RewriteRule ^prix-des-matieres-azotees.html$	index.php?numpage=131&numrub=1&numcateg=40&numsscateg=48 [L]
RewriteRule ^indicateur-aliment-ifip.html$	index.php?numpage=132&numrub=1&numcateg=40&numsscateg=53 [L]
RewriteRule ^elevage-bio.html$	index.php?numpage=147&numrub=3&numcateg=11&numsscateg=59 [L]
RewriteRule ^prix-des-produits-transformes.html$	index.php?numpage=135&numrub=1&numcateg=41&numsscateg=51 [L]
RewriteRule ^prix-a-la-consommation.html$	index.php?numpage=136&numrub=1&numcateg=41&numsscateg=52 [L]
RewriteRule ^prix-des-pieces.html$	index.php?numpage=137&numrub=1&numcateg=41&numsscateg=50 [L]
RewriteRule ^prix-des-pieces.html$	index.php?numpage=137&numrub=1&numcateg=41 [L]
RewriteRule ^reperes-ifip.html$	index.php?numpage=138&numrub=2&numcateg=22&numsscateg=40 [L]
RewriteRule ^microbiologie.html$	index.php?numpage=140&numrub=3&numcateg=16&numsscateg=31 [L]
RewriteRule ^documentation-et-outils.html$	index.php?numpage=142&spec=boutique-ifip-institut-du-porc&numrub=5&numcateg=30 [L]
RewriteRule ^documentation-et-outils.html$	index.php?numpage=142&spec=boutique-ifip-institut-du-porc&numrub=5 [L]
RewriteRule ^laboratoire-de-microbiologie-de-maisons-alfort.html$	index.php?numpage=143&numrub=2&numcateg=28&numsscateg=55 [L]
RewriteRule ^laboratoire-de-microbiologie-de-maisons-alfort.html$	index.php?numpage=143&numrub=2&numcateg=28 [L]
RewriteRule ^station-experimentale-de-romille.html$	index.php?numpage=144&numrub=2&numcateg=28&numsscateg=56 [L]
RewriteRule ^station-experimentale-de-villefranche-de-rouergue.html$	index.php?numpage=145&numrub=2&numcateg=28&numsscateg=57 [L]
RewriteRule ^le-tomographe-scanner-a-rayons-x.html$	index.php?numpage=146&numrub=2&numcateg=28&numsscateg=58 [L]
RewriteRule ^resultats-economiques-elevages-de-porc-graphique.html$	index.php?numpage=152&numrub=3&numcateg=5&numsscateg=61 [L]
RewriteRule ^observatoire-competitivite-elevages-porcs-monde-graphique.html$	index.php?numpage=151&numrub=3&numcateg=5&numsscateg=60 [L]
RewriteRule ^resultats-economiques-elevages-extranet-partenaires.html$	index.php?numpage=153&numrub=3&numcateg=5&numsscateg=62 [L]
RewriteRule ^lorem-dummy-test.html$	index.php?numpage=154&numrub=20 [L]
RewriteRule ^dqs.html$	index.php?numpage=155&spec=dsqds&numrub=13 [L]
